<h1>Hello <%= @player %></h1>
<h2> Pick a move </h2>
    <!-- <a href='/play'>Rock</a>
    <a href='/play'>Paper</a>
    <a href='/play'>Scissors</a> -->
  <form action='/play'>
    <input class='button' name="player_move" type='submit' value = 'Rock' >
  </form>
  <form action='/play'>
    <input class='button' name="player_move" type='submit' value = 'Paper' >
  </form>
  <form action='/play'>
    <input class='button' name="player_move" type='submit' value = 'Scissors' >
  </form>
